In [1]:
import pandas as pd

In [2]:
# read in csv
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,R372S58V6D11AT,5.0,1.0,1.0,N,Y

In [3]:
# check info
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3093869 entries, 0 to 3093868
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 141.6+ MB

In [4]:
# 1 filter the df so total_votes >= 20
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [6]:
# 2 filter the df to where helpful_votes / total_votes >= 0.5
helpful_df = filtered_vine_df.loc[(filtered_vine_df["helpful_votes"]/filtered_vine_df["total_votes"]>= 0.5)]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [8]:
# 3 filter df where vine =='Y'
y_vine_df = helpful_df.loc[(helpful_df["vine"] == "Y")]
y_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N
4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N
11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N
17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N
28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N

In [9]:
# 4 filter df where vine =='N'
n_vine_df = helpful_df.loc[(helpful_df["vine"] == "N")]
n_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [15]:
# total number of reviews
count_all = len(vine_df)
count_all

3093869

In [30]:
# number of reviews with 20 or more votes
count_filter = len(filtered_vine_df)
count_filter

58554

In [31]:
count_helpful = len(helpful_df)
count_helpful

50753

In [32]:
# count of total vine reviews among helpful reviews with at least 20 votes
y_vine = len(y_vine_df)
y_vine

1080

In [33]:
# count of total non-vine reviews among helpful reviews with at least 20 votes
n_vine = len(n_vine_df)
n_vine

49673

In [34]:
# count the vine_y_df where "star_rating" == 5
five_vine_df = y_vine_df.loc[(y_vine_df["star_rating"] == 5.0)]
five_vine = len(five_vine_df)
five_vine

454

In [35]:
# count the vine_n_df where "star_rating" == 5
five_not_vine_df = n_vine_df.loc[(n_vine_df["star_rating"] == 5.0)]
five_not_vine = len(five_not_vine_df)
five_not_vine

23043

In [37]:
# percentage of vine reviews that are 5 stars
percent_vine_five = (five_vine / y_vine)
percent_vine_five

0.4203703703703704

In [39]:
# percentage of non-vine reviews that are 5 stars
percent_vine_not_five = (five_not_vine / n_vine)
percent_vine_not_five

0.463893865882874